<html>
    <head>
        <title>
            <%= title %>
        </title>
       <link rel="stylesheet" href="/css/layout.css">
       <!-- <link rel="stylesheet" href="/css/header.css">
       <link rel="stylesheet" href="/css/footer.css"> -->
       <%- style %>
    </head>

    <body>
         <%- include('_header'); -%>              <!-- Partial means to partial or half of code write in someother file -->
        
         <main id="layout-main">
         <%- body %>                            <!-- body is predefine from the express-ejs-layouts liberey
                                                    and this body contains the variable part -->
        </main>
        <%- include('_footer'); -%>

        <%- script %>
      
    </body>
    <script src="/js/index.js"></script>
</html>